.container {
    background-color: rgb(1, 1, 37);
    color: white;
}


.title {
    font-size: 50px;
}

.benefits {
    font-size: 25px;
}

.cite {
    color: #65b5f6;
    background-color: whitesmoke;
    border: 1px solid #65b5f6;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .cite:hover {
    transform: scale(1.1);
  }
